.contact-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 5%;
    font-family: var(--font-headings);
}

.contact-header {
    font-weight: 600;
}

.contact-header h1 {
    font-family: var(--font-headings);
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-header p {
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
}

.contact-header .p-contacts {
    line-height: 1.8em;
    font-size: 17px;
}

.contact-body {
    display: flex;
    margin-top: 40px;
}

.form-container {
    flex-grow: 1;
}

.form-field {
    margin-bottom: 25px;
    text-align: left;
}

.form-field label {
    display: block;
    font-family: var(--font-main);
    font-style: italic;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    background-color: transparent;
    font-size: 16px;
    outline: none;
}

.form-field input.invalid,
.form-field textarea.invalid {
    border-color: #ff5c5c;
}

.error-message {
    display: flex;
    align-items: center;
    color: #ff5c5c;
    font-size: 14px;
    margin-top: 8px;
}

.error-message svg {
    margin-right: 8px;
    min-width: 24px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.submit-button {
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-headings);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color-accent-hover);
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}