.contact-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 5%;
    font-family: var(--font-headings);
}

.contact-header {
    font-weight: 600;
}

.contact-header h1 {
    font-family: var(--font-headings);
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-header p {
    font-size: 26px;
    margin-bottom: 8px;
    text-align: center;
}

.contact-header .p-contacts {
    line-height: 1.8em;
    font-size: 17px;
}

.contact-body {
    display: flex;
    margin-top: 40px;
}

.form-container {
    flex-grow: 1;
}

.form-field {
    margin-bottom: 25px;
    text-align: left;
}

.form-field label {
    display: block;
    font-family: var(--font-main);
    font-style: italic;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
}

.form-field input.invalid,
.form-field textarea.invalid {
    border-color: #ff5c5c;
}

.phone-input-container {
    display: flex;
    border: 1px solid var(--color-black);
}

.country-selector {
    position: relative;
    cursor: pointer;
    border: none;
}

.selected-country {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    gap: 5px;
}

.flag-icon {
    width: 24px;
    height: auto;
    object-fit: contain;
}

.globe-icon {
    width: 24px;
    height: 24px;
}

.arrow-icon {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
}

.country-dropdown {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    background-color: white;
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
    width: 340px;
    padding: 0px 24px;
    padding-top: 18px;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
}

.search-icon {
    width: 20px;
    height: 20px;
    color: #888;
}

.country-search {
    padding: 10px 5px;
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    color: var(--color-black);
}

.country-item {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    cursor: pointer;
    gap: 10px;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
}

.country-item:hover {
    background-color: #f0f0f0;
}

.phone-input-container input#phone {
    flex-grow: 1;
    border: none;
    outline: none;
    width: auto;
}

.error-message {
    display: flex;
    align-items: center;
    color: #ff5c5c;
    font-size: 14px;
    margin-top: 8px;
}

.error-message svg {
    margin-right: 8px;
    min-width: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.submit-button {
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-headings);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color-accent-hover);
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}