.product-card {
    text-align: center;
    font-family: var(--font-headings);
    color: var(--color-text);
}

.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 0;
    padding-bottom: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.product-image {
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-image {
    opacity: 1;
    z-index: 2;
}

.hover-image {
    opacity: 0;
    z-index: 1;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

.product-card:hover .default-image {
    opacity: 0;
}

.product-card:hover .hover-image {
    opacity: 1;
}

.badge-container {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
}

.badge {
    background-color: var(--color-black);
    border-radius: 4px;
    color: var(--color-white);
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--font-headings);
    font-weight: 500;
}

.product-details {
    cursor: pointer;
    margin-bottom: 15px;
}

.product-name {
    font-weight: bold;
    margin: 0;
}

.divider {
    border: none;
    border-top: 1px solid var(--color-black);
    width: 25px;
    margin: 10px auto;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
}

.product-price {
    font-weight: normal;
}

.original-price {
    color: var(--color-text-light);
    text-decoration: line-through;
}

.sale-price {
    color: var(--color-text);
}

.add-to-cart-button {
    min-width: 315px;
    height: 45px;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--font-headings);
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: var(--color-black);
}

.product-card:hover .add-to-cart-button {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}