.product-card {
    text-align: center;
    font-family: var(--font-main);
    color: var(--color-text);
    cursor: pointer;
}

.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 0;
    padding-bottom: 100%;
    border-radius: 8px;
}


.product-image {
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-image {
    opacity: 1;
    z-index: 2;
}

.hover-image {
    opacity: 0;
    z-index: 1;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

.product-card:hover .default-image {
    opacity: 0;
}

.product-card:hover .hover-image {
    opacity: 1;
}

.sale-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--font-headings);
    font-weight: 500;
    z-index: 3;
}

.product-name {
    font-size: 16px;
    margin: 0;
}

.divider {
    border: none;
    border-top: 1px solid var(--color-black);
    width: 25px;
    margin: 10px auto;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.product-price {
    color: var(--color-text-light);
}

.original-price {
    color: var(--color-text-light);
    text-decoration: line-through;
}

.sale-price {
    color: var(--color-text);
}