.search-page-container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  padding: 8px 0;
}

.search-bar-container .material-symbols-outlined {
  font-size: 28px;
  margin-right: 10px;
  color: #000;
}

.search-bar-container input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.main-content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.filter-sidebar {
  flex: 0 0 250px;
}

.filter-sidebar h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter-group {
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;
}

.filter-group h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.price-inputs {
  display: flex;
  gap: 10px;
}
.price-field {
  width: 100px;
}
.price-field label {
  font-size: 12px;
  color: #000;
}
.price-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.product-grid-container {
  flex-grow: 1;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.grid-header span {
  font-size: 15px;
  color: #000;
}

.sort-dropdown {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.no-results {
  text-align: center;
  padding: 50px;
  color: #777;
}