.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 135px;
    margin: 0 auto;
}
.logo h1 {
    margin-bottom: 5px;
}
.logo h2 {
    font-size: 20px;
    font-weight: 600;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
li.active a {
      color: var(--color-text-light);
    }

.header-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.user-log {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.search-btn {
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    padding: 5px 50px 5px 5px;
    background-color: white;
    cursor: pointer;
}
.search-btn:hover {
    border: none;
    color: #007bff;
}


.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.98);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  z-index: 100;

  .overlay-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
.overlay-search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
  input[type="text"] {
    font-size: 20px;
    padding: 8px;
    border: 1px solid black;
    width: 100%;
  }
  h2 {
    font-size: 18px;
  }
  .product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

.close-btn {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.close-btn:hover {
    text-decoration: underline;
}
.show-all-btn {
border: none;
background-color: black;
color: white;
padding: 10px 20px;
font-size: 16px;
font-weight: 500;
cursor: pointer;
}
.show-all-btn:hover {
    text-decoration: underline;
}
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}