.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  padding: 15px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cart-overlay.is-open {
  visibility: visible;
  opacity: 1;
}

.cart-panel.is-open {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid black;
}

.cart-header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.cart-body {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 20px;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
  color: black;
  font-weight: 600;
}

.cart-item {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.item-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
}

.item-details h4 {
  margin: 0 0 15px 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.item-details p {
  margin: 0 0 8px 0;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: fit-content;
}

.quantity-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1.2rem;
}

.quantity-controls span {
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 600;
}

.item-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
}

.item-price p {
  margin: 0 0 4px 0;
  font-weight: 600;
}

.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  padding: 0;
}

.cart-footer {
  padding: 24px;
  border-top: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.total-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.total-summary span {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.total-summary strong {
  font-size: 20px;
  font-weight: 600;
}

.disclaimer {
  font-size: 15px;
  color: #777;
  margin-bottom: 16px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #0178a3;
  color: white;
  margin-bottom: 12px;
}
.checkout-btn:hover {
  background-color: #0178a3ba;
  text-decoration: underline;
}

.view-cart-btn {
  width: 100%;
  padding: 14px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #0178a3;
  background-color: #fff;
  color: #0178a3;
}
.view-cart-btn:hover {
  border: 1px solid #0178a3ba;
  text-decoration: underline;
  color: #0178a3ba;
}

.secure-checkout {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 16px auto 0 auto;
  font-size: 16px;
  color: #000;
}


.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 90px;
  text-align: right;
}

.trash-btn .material-symbols-outlined {
  font-size: 20px;
}


.item-total-price {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}


.promo-code-container {
  margin-top: 24px;
  padding: 16px 0;
  border-top: 1px solid #f0f0f0;
}

.promo-toggle a {
  color: #0178a3;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.promo-toggle a:hover {
  color: #0178a3ba;
}

.promo-input-area {
  display: flex;
  gap: 8px;
}

.promo-input-area input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 0.9rem;
}

.promo-input-area .apply-btn {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  padding: 0 20px;
  font-weight: 600;
  cursor: pointer;
}

.gift-card-details {
  font-size: 14px;
  color: #555;
  margin-top: 8px;
}

.gift-card-details p {
  margin: 4px 0 !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.show-more-btn {
  background: none;
  border: none;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
}



@media (max-width: 480px) {
  .cart-panel {
    max-width: 100vw;
  }
}