<div class="product-details-container">
  <header>
    <div class="left-side">
      <span>Home</span>
      <span> / </span>
      <span>I'm product</span>
      <!-- need correct, make it flexble -->
    </div>
    <div class="right-side">
      <div class="active">
        <svg viewBox="0 0 16 16" fill="currentColor" width="16" height="16">
          <path
            fill="currentColor"
            d="M11.519 13.934c0.214 0.217 0.214 0.566 0 0.783s-0.561 0.217-0.775 0l-6.264-6.326c-0.214-0.217-0.214-0.567 0-0.783l6.264-6.326c0.214-0.217 0.561-0.217 0.775 0s0.214 0.566 0 0.783l-5.712 5.934 5.712 5.934z"
          ></path>
        </svg>
        <span>Prev</span>
      </div>
      <span> | </span>
      <div class="active">
        <span>Next</span>
        <svg viewBox="0 0 16 16" fill="currentColor" width="16" height="16">
          <path
            fill="currentColor"
            d="M4.48 13.934c-0.214 0.217-0.214 0.566 0 0.783s0.561 0.217 0.775 0l6.264-6.326c0.214-0.217 0.214-0.567 0-0.783l-6.264-6.326c-0.214-0.217-0.561-0.217-0.775 0s-0.214 0.566 0 0.783l5.712 5.934-5.712 5.934z"
          ></path>
        </svg>
      </div>
    </div>
  </header>
  <div class="details-container">
    <div class="product-img">
      <img src="" alt="" />
      <div class="img">
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <p></p>
    </div>
    <div class="description">
      <h2>{{}}</h2>
      <p></p>
    </div>
  </div>
</div>
