<footer class="footer">
  <div class="footer-container">
    <div class="footer-links-section">
      <div class="link-group">
        <a href="#">Shipping & Returns</a>
        <a href="#">Store Policy</a>
        <a href="#">Payment Methods</a>
      </div>
      <div class="link-group">
        <span class="link-heading">Contact</span>
        <span>Tel: 123-456-7890</span>
        <a class="a-underline" href="mailto:{{ contactEmail }}">{{
          contactEmail
        }}</a>
      </div>
      <div class="link-group">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Pinterest</a>
      </div>
    </div>

    <div class="subscribe-section">
      <p class="subscribe-title">
        Join our mailing list and never miss an update
      </p>

      <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="input-wrapper">
          <label for="email">Email *</label>
          <div class="input-line">
            <input
              id="email"
              type="email"
              formControlName="email"
              [class.invalid]="submitted && email?.invalid"
            />
            <button type="submit" class="subscribe-button">
              Subscribe Now
            </button>
          </div>
        </div>

        <div class="error-container" *ngIf="submitted && email?.invalid">
          <div class="error-message" *ngIf="email?.errors?.['required']">
            <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM9 13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V12C11 11.4477 10.5523 11 10 11C9.44772 11 9 11.4477 9 12V13ZM10 6C9.44772 6 9 6.44772 9 7V9C9 9.55228 9.44772 10 10 10C10.5523 10 11 9.55228 11 9V7C11 6.44772 10.5523 6 10 6Z"
              ></path>
            </svg>
            <span>Enter an email address</span>
          </div>
          <div class="error-message" *ngIf="email?.errors?.['email']">
            <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM9 13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V12C11 11.4477 10.5523 11 10 11C9.44772 11 9 11.4477 9 12V13ZM10 6C9.44772 6 9 6.44772 9 7V9C9 9.55228 9.44772 10 10 10C10.5523 10 11 9.55228 11 9V7C11 6.44772 10.5523 6 10 6Z"
              ></path>
            </svg>
            <span>Enter an email address like {{ exampleEmail }}</span>
          </div>
        </div>

        <div class="checkbox-wrapper">
          <input
            id="subscribeCheck"
            type="checkbox"
            formControlName="subscribeCheck"
          />
          <label for="subscribeCheck"
            >Yes, subscribe me to your newsletter. *</label
          >
        </div>

        <div
          class="error-container"
          *ngIf="submitted && subscribeCheck?.invalid"
        >
          <div class="error-message">
            <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM9 13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V12C11 11.4477 10.5523 11 10 11C9.44772 11 9 11.4477 9 12V13ZM10 6C9.44772 6 9 6.44772 9 7V9C9 9.55228 9.44772 10 10 10C10.5523 10 11 9.55228 11 9V7C11 6.44772 10.5523 6 10 6Z"
              ></path>
            </svg>
            <span>Check the box to continue.</span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="rights-container">
    <p>
     © 2035 by Tote. Powered and secured by
      <a class="a-underline" href="#">Wix</a>
    </p>
  </div>
</footer>
