.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 200px 20px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 15px;
  margin: 10px 0 30px;
}

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.go-back-btn:hover .btn-text {
    text-decoration: underline;
}

.go-back-btn .material-symbols-outlined {
  font-size: 20px;
  margin-right: 5px;
}