<div class="shop-container">
  <div class="product-grid">
    @for (product of products; track product.id) {
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
</div>
<div class="about-container">
  <div class="about-description">
    <h2>About</h2>
    <p>
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font. I’m a great place for you to tell a story and let
      your users know a little more about you.
    </p>
  </div>
</div>
